[2016-01-11 01:47] atleta opened #2 "Doesn't actually work on wily"
Hi,

Even though the install script will add the vivid (15.04) repo if run on wily (15.10), the packages themselves are not installable due to missing/broken dependencies. What I found is that the vivid package of estonianidcard depends (transitively) on libxml-security-c17 (through libdigidocpp-tools), but in wily it's called libxml-security-c17v5 .

To fix this, you shoud add the latter as an op

[2016-01-11 14:07] martinpaljak commented on #2
Yes. If you want to provide one before we get to it, please do :)

[2016-01-13 20:51] atleta commented on #2
Sure, will look into it as soon as I have some time (also building the packages on Wily & fixing the control files).

Köszönöm :)

[2016-01-19 12:11] aesedepece commented on #2
I have tried the following to partially install on Wily.

Make sure I don't have ``libxml-security-c17v5`` installed in my system:
[code]
Then download the old ``libxml-security-c17`` from PPA:
http://launchpadlibrarian.net/173904107/libxml-security-c17_1.7.2-3_amd64.deb

Install it and then run the ``install-open-eid.sh`` installation script.

ID-card utility and DigiDoc3 client open and can see

[2016-01-22 09:02] aesedepece commented on #2
EDIT: The aforementioned process works like a charm. It was just that my certificates were not enabled yet by the time I tried.

[2016-02-01 17:58] metsma commented on #2
New official release is available at https://installer.id.ee and wily is supported

[2016-02-01 17:58] #2 closed

[2017-01-19 01:54] MagicFab opened #3 "Please add support for Debian Jessie"
Debian Jessie (8) [was released in April 2015](https://wiki.debian.org/DebianReleases) and is the current stable release. Expected EOL is June 2018.

Thank you for considering adding support for it in the installer.

[2017-02-27 12:30] adojaan opened #4 "Upgrade needs manual removing and reinstalling."
Please try to detect pre-existing installation of older version and include removing of it, if it is not possible to  upgrade reliably. Installing with this .sh script succeeds without errors but the versions are not actually upgraded.
Ubuntu 16.10. After running .sh script the metapackage version was 17.01.1686-1610.  Qesteidutil still showed Version: 3.12.2.1206-1510 and qdigidoc Version: 3.12.1

[2017-03-24 23:02] cgfrost commented on #4
I also have this problem, exactly as described on Ubuntu 16.10.

[2017-05-02 08:47] karltalum2e commented on #4
Updating eid-software is done together with updating all the system packages. Therefore please try to use "sudo apt-get update && upgrade" to get the latest version of eid-software.

The script is only made for initial installment and not for updating the software.

[2017-05-02 08:47] #4 closed

[2017-05-03 08:08] cgfrost commented on #4
Everything is working again, thank you so much.

[2017-06-28 13:04] metsma commented on #3
Can you test which ubuntu packages are working on Jessie

[2017-07-26 19:44] MagicFab commented on #3
I successfully had installed those available in January, haven't tried since then.

[2017-07-30 12:04] fisher commented on #3
+1 for Debian. As of Jul 2017 the stable branch is Debian 9.0 "stretch", https://wiki.debian.org/LTS

And the installation script still looking for outdated Wheezy.

[2017-11-01 08:48] abitrolly opened #13 "Support Fedora (CentOS/RedHat)"
I'd like to [update my certificate](https://medium.com/e-residency-blog/estonia-is-enhancing-the-security-of-its-digital-identities-361b9a3c9c52) from Fedora. There are no packages, no build files for, it and no Makefile to build the tool myself.

[2017-11-01 09:23] abitrolly commented on #13
From description at https://github.com/open-eid/linux-installer/blob/master/debian/control it looks like the primary tool that I need is [qesteidutil](https://github.com/open-eid/qesteidutil).

[2017-11-01 09:42] metsma commented on #13
Feel free to help upstream package maintainers
https://admin.fedoraproject.org/pkgdb/package/rpms/qesteidutil/

[2017-11-01 10:55] abitrolly commented on #13
It is not packaged for latest Fedora releases - https://apps.fedoraproject.org/packages/qesteidutil - looks like this [open source support plan](https://medium.com/@nayafia/how-i-stumbled-upon-the-internet-s-biggest-blind-spot-b9aa23618c58) is not very effective. )

[2017-11-16 11:23] hsanjuan opened #14 "Firefox 57 logins not working anymore with latest opensc-pkcs11."
I compiled and installled opensc with the latests fixes https://github.com/OpenSC/OpenSC/pull/1185

Then loaded opensc-pkcs11.so on Firefox etc.

With Firefox 53 ESR things worked. However with Firefox 57 (Quantum) I get "unknown" errors when logging in. The error comes from the eesti.ee and other sites.

Firefox does recognize the card, the certificates, and correctly asks for unlock pins, but un

[2017-11-16 11:25] metsma commented on #14
Can you provide opensc logs.
And FF 57 does not support anymore pkcs11 autoloading you must load PKCS11 manually.
https://github.com/OpenSC/OpenSC/wiki/Installing-OpenSC-PKCS%2311-Module-in-Firefox,-Step-by-Step

[2017-11-16 12:49] hsanjuan commented on #14
@metsma I'll try to get some logs, but do you think it's opensc? Note that I was using the same opensc on both Firefox 53 ESR and 57 (perhaps it was not clear from my comment above). And yes, I always manually install the module.

[2017-11-22 15:21] AlexDaniel commented on #3
I think if you're on jessie you can manage to install it, but it's not installable on anything beyond that (with the provided installation script or not). So, on jessie, there is a problem with [``qesteidutil``](https://installer.id.ee/media/ubuntu/dists/artful/main/binary-amd64/Packages) package:

<code>
Depends: fonts-liberation, pcscd (>= 1.5), libc6 (>= 2.14), libgcc1 (>= 1:3.0), libpcsclite1

[2017-11-23 22:06] vodolaz095 commented on #13
i'll be grateful, if release for Fedora 26 would be present!

[2017-11-29 08:32] metsma commented on #14
Which linux distribution?

[2017-11-29 08:38] hsanjuan commented on #14
openSUSE

[2017-11-29 08:41] metsma commented on #14
Can you test official binary build from Firefox site.
I got confirmation that openSUSE Firefox build does not work.
Probably NSS library is built without ECC support.

[2017-11-29 08:53] hsanjuan commented on #14
@metsma ah, will do! Do you have a link for that ?

[2017-11-29 08:56] metsma commented on #14
No sorry, just figured out with other user trial and error.

[2017-12-04 18:41] owocki commented on #13
hi from gitcoin.co -- doing my best to source someone to turn this around.  will keep yall posted

[2017-12-05 09:25] teadur commented on #3
You can use the debian jessie backports version of openssl on Stretch.
But actualy its now impossible to use id card on debian jessie, becaue RIA decided to drop support for ubuntu trusty packages, so basicaly only Debian you can use id card is Stretch with debian jessie backported openssl (what a mess).

I talked to RIA support about why the decided to drop trusty packages and their response was

[2017-12-05 09:43] AlexDaniel commented on #3
Eh, that's unacceptable. If RIA themselves are doing such a piss-poor job, who'd be the right person to contact if we want to get things moving into the right direction?

[2017-12-05 09:47] metsma commented on #3
There is always possible to create own packages and repos. Like other distros are doing Gentoo, SuSe, Mandriva, Fedroa and Slack

[2017-12-05 10:01] AlexDaniel commented on #3
@metsma what do you even mean? 😕 Are you saying that users are supposed to share .deb packages with each other for security related software?

[2017-12-05 10:11] metsma commented on #3
Or you can become maintainer and push packages to upstream

[2017-12-05 10:58] teadur commented on #3
If i would be good at debian packaging i would surely do it, but sadly i'm not.
I think the most sane solution would be to get RIA re-support trusty but i dont see that happening.

I dont think its trivial to become debian maintainer and get the packages to upstream and even if its done they packages would show up at buster not stretch or any of the releases mentioned here.

Cleanest solution woul

[2017-12-11 14:29] MagicFab commented on #3
Debian Jessie is now "old-stable". I'll open a new ticket requesting support for Debian and explain why it's important (and more viable).

[2017-12-11 14:29] #3 closed

[2017-12-11 14:30] MagicFab commented on #14
Firefox 57 introduces important changes to its plugins framework. Can you confirm using an ESR version still works and which one?

[2017-12-11 16:15] MagicFab opened #16 "Please support Debian GNU/Linux"
I previously requested support for Debian Jessie installation (see #3 ).

I'd like to reiterate my request this time to cover Debian and following its releases. Supporting Debian would mean support for all its derivatives would be available, including Devuan, Trisquel and Ubuntu just to name a few.

Ubuntu's default desktop environment in Ubuntu 18.04 LTS will be GNOME again, the same as Debian's,

[2017-12-11 17:13] metsma commented on #16
Firefox 57 does not provide alternative to load PKCS11 modules with WebExtensions
It will come with FF 58 https://bugzilla.mozilla.org/show_bug.cgi?id=1357391
and is implemented here https://github.com/open-eid/firefox-pkcs11-loader/pull/6.
Signing is not affected by this change.

[2017-12-21 02:09] owocki commented on #13
still working on it..

[2017-12-26 03:14] step21 commented on #13
I am quite familiar with debian packages, but still seems like a lot of work for that bounty. Have you tried to use alien https://sourceforge.net/projects/alien-pkg-convert/ It should also be available in fedora...

[2017-12-26 20:47] abitrolly commented on #13
@step21 you can find former work here - https://admin.fedoraproject.org/pkgdb/package/rpms/qesteidutil/

[2017-12-26 20:51] abitrolly commented on #13
Ad for bounty, this is all I can get for this issue. If you can convince guys from this project to set a maintenance fund for different package maintainers - that will help to increase the funding.

[2017-12-26 22:36] step21 commented on #13
@abitrolly thanks. ok that would make it easier. Did you try just installing the older package? Somtimes that works, esp version jump from 25 to 26 is not that big. Just trying this before installing fedora packaging tools etc...

[2017-12-27 00:34] owocki commented on #13
@muhammaddava1321 mind popping in and letting us nkow what we can expect from you/

[2017-12-27 22:33] owocki commented on #13
@muhammaddava1321 if we dont hear from you soon we will need to reject your claim so that someone who can make this a prioroity takes the issue

[2017-12-28 21:39] abitrolly commented on #13
@step21 what is the proper way to install older package?
[code]

[2017-12-28 23:54] step21 commented on #13
Mmmh, looks like it is not available anymore on fedora pkgdb. What you can anyway try - download the newest one here from rpmfind, which is 3.12 and for fedora 25 should be new enough http://rpmfind.net/linux/rpm2html/search.php?query=qesteidutil(x86-64)
Then install with `sudo yum localinstall <path to downloaded package` Obviously replace the <> with the path to the package you downloaded and th

[2017-12-29 06:45] abitrolly commented on #13
There is no point to run the old version that doesn't fix problem with hacked ids. How to build it from source?

[2017-12-29 15:23] step21 commented on #13
Mmh ok sorry it looked fairly recent to me at first.
Clone the soure package from http://pkgs.fedoraproject.org/cgit/rpms/qesteidutil.git/ then build an rpm from that. Maybe I can do it tonight if I don't do anything else.

[2017-12-29 15:54] owocki commented on #13
i am rejecting @muhammaddava1321's claim on this issue due to radio silence from him/her

[2017-12-29 15:55] owocki commented on #13
@abitrolly i suggest rejecting @muhammaddava1321's claim on this issue due to radio silence from him/her.  lets open up the issue for someone else to claim.

you can do so at https://gitcoin.co/funding/details?url=https://github.com/open-eid/linux-installer/issues/13

[2017-12-29 17:13] step21 commented on #13
I started a build project on open build service, but so far it only builds successfully on fedora 25 because of some patch problem.
However I also saw that some other guy published a temporary repo. You have to put it into fedora software sources I guess, I couldn't test it. Maybe that works for you.
https://github.com/open-eid/qesteidutil/issues/78#issuecomment-347653717

[2017-12-29 17:40] step21 commented on #13
You can now find my build here: https://build.opensuse.org/package/binaries/home:fl0id/qesteidutil?repository=Fedora_26

[2018-01-02 17:00] owocki commented on #13
@abitrolly would you mind rejecting the current claimee's claim at https://gitcoin.co/funding/details?url=https://github.com/open-eid/linux-installer/issues/13 ? since they no-showed, id love to let @step21 claim it

[2018-01-04 10:58] abitrolly commented on #13
@owocki does rejecting cancel funding? The interface is not clear about it.

[2018-01-05 08:36] abitrolly commented on #13
The issue is free to claim, @step21. )

I looked if I can package it myself, but I couldn't find sufficiently short tutorial or at least a picture with process overview get started. All I understood is that I need a .spec file. Then there are lengthy guidelines, which carry too much bloody details.

If you already experienced with packaging, maybe https://github.com/jordansissel/fpm would be a bet

[2018-01-05 12:25] step21 commented on #13
Thanks! I saw, but yesterday I had some problems to claim it as described here: https://github.com/MetaMask/metamask-extension/issues/1081#issuecomment-355372620
Did you see the rpm link I posted, did that work? You can download it from there directly, but you can also add it as a repo with this url https://download.opensuse.org/repositories/home:/fl0id/Fedora_26/home:fl0id.repo (as stated above,

[2018-01-05 16:49] abitrolly commented on #13
@step21 I would be interested to see it officially resurrected in Fedora repo, where it could get more security reviews.

[2018-01-05 17:12] step21 commented on #13
This is being worked on independently, it doesn't really make sense or make it faster for me to duplicate that effort and this was not mentioned in the bounty/thread before. You can track the status of this here https://bugzilla.redhat.com/show_bug.cgi?id=1519323 (no idea how long it will take)
However please be advised, that this does not include (as for many packages in most distributions) any k

[2018-01-05 21:35] abitrolly commented on #13
@step21 I can only test binaries coming from official Fedora channels, sorry for not making it clear in the first place. This ticket and bounty is not about "compiling package for me". It is about supporting Fedora in proper way provided by this operating system, through its official channels.

There is also a security concern about running packages with critical software from other people servers

[2018-01-05 21:39] abitrolly commented on #13
I didn't notice https://bugzilla.redhat.com/show_bug.cgi?id=1519323 in the first place. There is no sense to duplicate efforts, and I wish we had noticed @Germano0 work faster, so he could claim the bounty.

[2018-01-05 21:45] abitrolly commented on #13
@step21 I don't mind splitting the bounty if you can help resolve remaining issues in https://bugzilla.redhat.com/show_bug.cgi?id=1519323.

@owocki it is possible to split the bounty, right?

[2018-01-05 23:39] Germano0 commented on #13
If you are a Fedora user you can temporarily use my Copr repository https://copr.fedorainfracloud.org/coprs/germano/este-id-card-tools/
Why este id packages are not yet available in official Fedora repositories? Because Fedora packages guidelines are very strict and packages review take some amount of time.
During past weeks I have been very busy, but now I am resuming the package reviews process,

[2018-01-06 02:46] step21 commented on #13
Yeah, that was not really clear. You still might consider my package, as on closer inspection the spec file in the bugzilla thread is only fedora 27, unless I am missing the part where there is one for 26.

I know that it is not only about 'compiling packages for you' but that is why I also asked multiple times what you would prefer (before and after I had seen the bugzilla report). As I have also

[2018-01-06 10:20] Germano0 commented on #13
I really have no time to follow the whole discussion, so I can shortly summarise:
- at the moment, due lack of free time to accomplish particular requests (or even discuss them) I state that I do not have any will of getting any part of the bounty;
- All Estonia ID software packages will return back in Fedora official repositories for versions >= 27 because on older Fedora versions there are vario

[2018-01-06 21:30] abitrolly commented on #13
Thank you @Germano0 for settling things up. We are still experimenting with this bounty system, and it will take some time to bring up mechanics that makes problem solving fun for all participants.

@step21 I apologize again that I missed links to bugzilla that you've sent in previous posts. With rolling update model of Fedora, I don't think it is valuable to port to 26. But making .spec files nat

[2018-01-07 05:11] step21 commented on #13
Ok, cool. By native you mean on the fedora bugzilla or in the github source?  (like for example debian spec like files are included there)

[2018-01-07 07:15] abitrolly commented on #13
By native I mean that this Github repo will contain all necessary files in `fedora/` subdir along with instructions in README.md to build and install Fedora package from scratch. Like Debian, right.

To avoid bitrot this repo should also contain instructions how to compare packaging files with files in Fedora repo and explanation of how to sync those files. This requires description of what steps

[2018-01-08 20:20] owocki commented on #13
sorry for the radio silence @abitrolly .  was away skiing this weekend.

not it doesnt.  it just rejects the current claim.  i will update the interface.. thanks!

[2018-01-08 20:20] owocki commented on #13
@step21 👋  good to have you here :)

[2018-01-08 23:34] step21 opened #18 "Contribution for fedora and related distributions"
I would like to contribute packaging information along with instructions on how to keep this current and keep it in fedora repositories or generate separate rpm packages, in case this should ever be necessary such as if the current maintainer drops.
Now the questions - would it be appropriate to add this here or is it preferable to add this to each package such as qesteidutil which also has a '/de

[2018-01-09 08:14] metsma commented on #18
Doesn't fedora have own repo?
http://pkgs.fedoraproject.org/cgit/rpms/qesteidutil.git/
we can add needed references to wiki or to source readmes.

[2018-01-09 08:16] metsma commented on #14
Firefox 58 will have support to configure PKCS11 with WebExtension framework
https://github.com/open-eid/firefox-pkcs11-loader/releases/tag/v3.13.0

[2018-01-09 14:39] step21 commented on #18
Yes, they do, as do debian and ubuntu normally. But the idea was to add at least an instruction and spec file (along with a link to fedora) also here, so that in case someone looks here (rpm is not only used by fedora) or there is no maintainer anymore, there is easy access to a doc that describes how to packages and how to distribute the package if desirable.

[2018-01-09 15:25] metsma commented on #18
Feel free to create pull requests to components or create wiki pages

[2018-01-11 19:40] step21 commented on #13
Hi @abitrolly I submitted a PR now to the qesteidutil. https://github.com/open-eid/qesteidutil/pull/89
Please let me know what you think. I tried to make the instructions clear and not assume too much, but of course not everything can be covered.

[2018-01-13 15:29] hsanjuan commented on #14
Hi, I confirm that the official build from the Firefox website works. Looking into why OpenSUSE builds don't. mozilla-nss seems to be built with ECC support :S

[2018-01-13 17:47] hsanjuan commented on #14
The psck11-spy.so trace between the official and the opensuse version is virtually the same until the moment comes to show the user the window where the authentication certificate is chosen. The opensuse build of firefox does not show this window. The official build does.

Both versions can read the certificates successfully and log-in to the cards (and ask for the pin when necessary).

[2018-01-13 20:00] hsanjuan commented on #14
Replacing mozilla-nss libs with the system ones in the offical build of firefox does not result in broken logins, so it doesn't look like a NSS issue.

[2018-01-13 22:12] hsanjuan commented on #14
After lots of tinkering, it appears my issues were due to a bad/legacy `opensc.conf`. Making sure that  the one installed by the latest OpenSC was the one used solved the problem.

[2018-01-13 22:12] #14 closed

[2018-01-13 22:21] hsanjuan commented on #14
Actually, it still won't show me the certificate selection window, but it does work when configured to log in automatically:

![image](https://user-images.githubusercontent.com/1027022/34910561-488b1b1c-f8b8-11e7-9906-5b7b969aa752.png)

But I'll leave this here, as this is probaby a very mystic thing to happen and at least I can work around it. Maybe it has to do with some gtk bindings or who know

[2018-01-16 15:23] step21 commented on #13
Everything is reviewed now and will hopefully be merged soon.

[2018-01-17 02:18] vs77bb commented on #13
@step21 Fantastic! cc @owocki

[2018-01-18 21:50] step21 commented on #13
Merged now

[2018-01-22 21:26] owocki commented on #13
@abitrolly mind releasing the funds to @step21  at https://gitcoin.co/funding/details?url=https://github.com/open-eid/linux-installer/issues/13 ?

[2018-01-23 06:29] abitrolly commented on #13
There is still no package built for F28 at https://apps.fedoraproject.org/packages/esteidcerts/ and all tickets on Bugzilla are still open, so @step21 if you can help @Germano0 with upstream review by notifying https://bugzilla.redhat.com/show_bug.cgi?id=1518957 that pagure issue is resolved and find out how to schedule F28 built - that will help to move it forward.

[2018-01-30 12:06] abitrolly commented on #13
Sorry for F28 reference. I meant F27 of course. Now that F27 packages are officially being built and delivered, I'd sent tips to @Germano0 and approved claim by @step21 for working on the issue.

@step21 it would be nice if I you could make a PR that will cover how to install this soft on Fedora 27 from official repos. Maybe merge wiki into README/docs, update install script to be compatible with

[2018-01-30 17:27] step21 commented on #13
Thank you for this. After the last post, I was indeed a bit confused, and not sure what to do. Because of the version but also because it seemed to become a never ending issue (new version, new package (new bugzilla thread), new task after having asked before if PR with instructions would cover the issue) and because I didn't really want to get involved in any disagreement between @Germano0 and Fe

[2018-01-30 17:33] metsma commented on #13
Forget esteidcerts, its was used by libdigidoc and witch is not ported to openssl 1.1 (upstream has not confirmed that they will)

[2018-01-30 17:40] Germano0 commented on #13
In two weeks we should be able to have QDigiDoc fully working on Fedora >= 27.
There are mandatory timings for testing packages before getting them into stable repository.
qesteidutil will come soon too. I don't have an estimated time for it

[2018-01-31 23:57] Germano0 commented on #13
Just sent created qdigidoc update https://bodhi.fedoraproject.org/updates/qdigidoc-3.13.4-1.fc27
and now I am finishing the review of qesteidutil

[2018-02-02 21:37] Germano0 commented on #13
Released qdigidoc in Fedora testing repositories.
Could you please test it https://bodhi.fedoraproject.org/updates/FEDORA-2018-569f4b05f7
then login with you Fedora Account System account and leave a karma feedback?
Thank you

[2018-02-07 09:25] abitrolly commented on #13
Installed.

    sudo dnf install qdigidoc --enablerepo=updates-testing

Could not find executable `qdigidoc`.

    ➜  ~ qdigidoc
    zsh: qdigidoc: command not found...

After reading internets, found `qdigidocclient`. Maybe rename it to just `qdigidoc`?

Launching client shows console error and warning window.
[code]

![image](https://user-images.githubusercontent.com/8781107/35908095-b9771bfe-0c

[2018-02-07 09:50] Germano0 commented on #13
@abitrolly I am going to update the qdigido cclient to lastest release
Meanwhile,

1. are you using Wayland or Xorg?
2. Please show us the output of `# systemctl status pcscd`

[2018-02-07 10:04] abitrolly commented on #13
@Germano0 Wayland
[code]

[2018-02-07 10:11] Germano0 commented on #13
@abitrolly
- concerning Wayland errors, @metsma can tell us more
- card reader: running once `systemctl enable --now pcscd` should enable your system to correctly detect card readers

[2018-02-07 11:36] abitrolly commented on #13
@Germano0 got it running. :) Is it possible to add this `pcscd` service startup as a requirement for `qdigidoc`?

The only missing part right now is `qesteidutil` required to make checks for updating ID card.

![screenshot from 2018-02-07 14-34-31](https://user-images.githubusercontent.com/8781107/35914425-4ae7a316-0c14-11e8-9533-74b129528456.png)

[2018-02-07 12:53] Germano0 commented on #13
No [it is forbidden by Fedora policy](https://fedoraproject.org/wiki/Packaging:DefaultServices?rd=DefaultServices#Restrictions). Rather  psdcd Fedora package maintainer could enable such service when user plugs a card reader or when the system has already a card reader https://fedoraproject.org/wiki/Packaging:Systemd#Hardware_activation

[2018-02-08 07:56] Germano0 commented on #13
New qdigidoc update https://bodhi.fedoraproject.org/updates/qdigidoc-3.13.5-1.fc27

[2018-02-08 08:52] metsma commented on #13
Did you patch the build
https://github.com/open-eid/qdigidoc/wiki/DeveloperTips#building-in-sandboxed-environment

[2018-02-08 09:30] Germano0 commented on #13
@metsma

The Fedora patch was obsolete. I will update it as soon as possible. Thank you

[2018-02-08 19:11] Germano0 commented on #13
This time qdigidoc Fedora build should be perfect
https://bodhi.fedoraproject.org/updates/qdigidoc-3.13.5-3.fc27

[2018-02-13 20:05] Germano0 commented on #13
[qdigidoc update](https://bodhi.fedoraproject.org/updates/FEDORA-2018-8d148ceb02)
[qesteidutil update](https://bodhi.fedoraproject.org/updates/FEDORA-2018-54c7a5b01b)
If you login with FAS account (Fedora Account System) and leave karma feedback you will help in pushing the updates into stable repository as soon as possible

[2018-02-14 05:04] abitrolly commented on #13
`qdigidoc` starts ok now. It still doesn't see my card without explicitly running `pcscd` service. Is it possible to use https://fedoraproject.org/wiki/Packaging:Systemd#Socket_activation for starting it if hardware activation is not implemented?

[2018-02-14 12:34] Germano0 commented on #13
I don't know, it is a problem that pscd maintainer should care of

[2018-02-15 05:44] abitrolly commented on #13
The `qesteidutil` starts ok and I can see my data. But.. I don't see Update button on the interface like it is shown at https://youtu.be/BRGFSSoW-Xc?t=9 and @eesti.ee e-mail is grayed out and hitting Certificates key does nothing. Is it expected behaviour? There is a suspicious `Failed to parse public key` message in console.
[code]

https://www.politsei.ee/id-kaardi-kontroll/en says that I need t

[2018-02-15 07:43] metsma commented on #13
Can you send diagnostics output

[2018-02-15 08:30] abitrolly commented on #13
@metsma `qesteidutil` doesn't respond to command line options, so I copy/pasted this from GUI window.
[code]

[2018-02-15 08:34] Germano0 commented on #13
It looks like not all config.* files have been updated on Fedora repository, despite I did that. Probably I missed some errors during the procedure. I am releasing a new build right now

[2018-02-15 08:38] abitrolly commented on #13
Yep. I was just looking why OS field is not filled there. Looks like Fedora detection should occur at https://github.com/open-eid/qt-common

[2018-02-15 08:44] Germano0 commented on #13
I was wrong, config.json config.pub config.rsa sha256 checksum is identical to the ones from the wiki. I do not know what could be the problem
https://src.fedoraproject.org/rpms/qesteidutil/tree/master

???

[2018-02-15 08:52] metsma commented on #13
Look here https://github.com/open-eid/qesteidutil/tree/master/fedora
According this patch is not needed

[2018-02-15 08:58] abitrolly commented on #13
Code for Diagnostic is maintained in that repo - https://github.com/open-eid/qt-common

[2018-02-15 09:39] Germano0 commented on #13
@metsma

It contains incomplete and unreliable instructions

Which patch file??

[2018-02-15 10:17] metsma commented on #13
Please fix the instructions then

Patch0:         sandbox-compilation.patch

[2018-02-15 10:42] Germano0 commented on #13
Problem solved,
[%patch0 -p1](https://src.fedoraproject.org/rpms/qesteidutil/blob/master/f/qesteidutil.spec#_39)
was missing.
To test the new version
$ bodhi updates download --updateid FEDORA-2018-54c7a5b01b
# dnf update downloaded_file.rpm

If you login with FAS account (Fedora Account System) and leave karma feedback you will help in pushing the updates into stable repository as soon as possibl

[2018-02-15 17:58] abitrolly commented on #13
![image](https://user-images.githubusercontent.com/8781107/36272541-e04ba4f0-1292-11e8-9706-b08c1797c3bc.png)

👍 :)

[2018-02-20 22:18] #18 closed

[2018-02-22 13:23] Germano0 commented on #13
Now I am starting to taking care of browser side of Estonia ID card software stack. I created 3 personal repositories to work on RPM spec files. Don't mind the content because it is in a very early  stage
https://pagure.io/estonianidcard_spec
https://pagure.io/firefox-pkcs11-loader_spec
https://pagure.io/webextension-token-signing_spec

[2018-02-22 13:25] metsma commented on #13
can you rename estonianidcard to open-eid

[2018-02-22 14:07] Germano0 commented on #13
Sure, I updated previous comment

[2018-02-23 04:36] abitrolly commented on #13
I successfully updated my card certificates. Thanks everyone. =)

[2018-02-28 22:22] Germano0 commented on #13
The browser side is almost finished.

I am very glad to announce that open-eid stack will be released into [EPEL7](https://fedoraproject.org/wiki/EPEL/FAQ) the official additional community repository for Red Hat Enterprise Linux / CentOS / Scientific Linux !

[2018-02-28 22:36] metsma commented on #13
Requires:       esteidcerts  << not needed

[2018-02-28 22:38] Germano0 commented on #13
Could you please explain? Thank you

[2018-02-28 22:47] metsma commented on #13
Browser packages do not need it and all Estonian CA-s are already trusted by Browsers

[2018-02-28 22:53] Germano0 commented on #13
Changes applied, thank you!

[2018-02-28 23:34] Germano0 commented on #13
@metsma concerning chrome-token-signing, do you confirm that binary /usr/bin/chrome-token-signing is the component that handles PIN prompt and it is needed by both Firefox and Chrome browsers?

[2018-03-01 07:42] metsma commented on #13
Pin prompt, certification choice and communication with smartcard

[2018-03-01 23:56] Germano0 commented on #13
[Review request: open-eid - Meta-package for Estonian Electronic Identity Software](https://bugzilla.redhat.com/show_bug.cgi?id=1550743)

[Review request: webextension-token-signing - Firefox extension for signing with your eID on the web](https://bugzilla.redhat.com/show_bug.cgi?id=1550740)

[2018-03-08 18:14] Germano0 commented on #13
**TESTERS WANTED**
I am currently working on investigating what is not working in Fedora package [chrome-token-signing](https://github.com/open-eid/chrome-token-signing) which on Fedora is called [webextension-token-signing](https://src.fedoraproject.org/rpms/webextension-token-signing)
I am experiencing failures during documents signing on https://www.digidoc.ee/ and during tests on https://hwcry

[2018-03-10 14:54] Germano0 commented on #13
Fix coming soon
https://github.com/open-eid/chrome-token-signing/issues/80#issuecomment-372034703

[2018-03-22 12:36] Germano0 commented on #13
The work is almost finished on both Fedora and EPEL (RHEL / CentOS / Scientific Linux) repositories.
I just submitted the packages to updates testing repositories, and in next days I will send a new message with instructions about how to test them and provide feedbacks.

Best regards

[2018-03-29 09:35] Germano0 commented on #13
A quick resume about the testing process

**Fedora situation**
Certain packages are still in updates-testing repository. In order to help pushing the update to stable repository, open hereunder Fedora 27: package release process page, register and provide karma feedback
Everything works fine, you may need to manually start pcscd service while using open-eid on Firefox. [I am working on fixing this

[2018-03-29 09:53] metsma commented on #13
please remove esteidcerts, it is unused, obsolete, deprecated and with outdated certs.

[2018-03-29 10:27] Germano0 commented on #13
Done. Removed esteidcerts package as Requires: from [firefox-pkcs11-loader](https://src.fedoraproject.org/rpms/firefox-pkcs11-loader/c/cc716af5fc8f4f209cea751e332bb545374cdc37?branch=master) and [chrome-token-signing](https://src.fedoraproject.org/rpms/webextension-token-signing/c/edd3272b813993eafee80ee2b722f7b61242de70?branch=master)

[2018-04-19 20:55] Germano0 commented on #13
Work complete.
Concerning web support on Enterprise Linux 7, you have to wait for a newer Firefox ESR version that will support web extensions. This should happen in ~May / June.
Best regards

[2018-04-22 21:45] abitrolly opened #20 "Official signed stats about used Linux distributive"
Now that e-Residence software is [ported to Fedora](#13), I'm highly interested to know the stats - how many active users are there, how many active Linux users are there, and how many are using Fedora for better e-Residency protection / experience.

I am interested in building sustainability schemes for digital infrastructure, so that's why it is important for me.

[2018-04-23 07:16] #13 closed

[2018-04-24 14:43] MagicFab commented on #16
Firefox is now at version 59, but is only available when installed manually in Debian.

@explit7 Debian 10 is the current "testing" release, it will include Firefox 59 but not before ~May 2019. It could be a good plan to target that for proper support of Open-EID installation, maunal installation of FF59 in Debian 9 could be an alternative.

[2018-04-30 10:53] 2tunnels opened #21 "Ubuntu 18.04 support"
When are you planning to add Ubuntu 18.04 support?

[2018-04-30 11:50] smirnov commented on #13
Hmmm, I am unable to run the qdigidocclient as it still throws error: qdigidocclient: symbol lookup error: /lib64/libdigidocpp.so.1: undefined symbol: _ZN11xalanc_1_1116XalanTransformer10initializeERN11xercesc_3_113MemoryManagerE

Is this expected behaviour?

[2018-04-30 16:50] Germano0 commented on #13
I will post update messages on fixing F28 beta qdigidoc, on the proper Fedora bugreport
https://bugzilla.redhat.com/show_bug.cgi?id=1573162

[2018-05-01 07:09] metsma commented on #13
libdigidocpp is compiled against xalan-c package and maybe xml-security-c removed xalan-c dependency.
Remove xalan-c-devel package when compiling libdigidocpp

[2018-05-31 19:26] aldas commented on #21
Bump! 17.10 Artful Aardvark will have its EOL date july 2018.

[2018-06-03 16:37] aldas commented on #21
so I wrote to tech support and asked when it will happen - answer is:

but from RIA blog I found answer

https://blog.ria.ee/linux/#comment-9174

so maybe in 2-3 weeks we will have next release with 18.04 support if not then this summer/autumn.

[2018-06-04 20:26] amaccuish commented on #21
Thanks @aldas ! I just emailed them too and then saw your message.

[2018-06-16 10:56] rinu commented on #21
Ubuntu 18.04 is now listed as supported on id.ee. I could successfully install the software and log in to my bank. Which is awesome, I can finally get things done on my work computer.

But there are several minor issues:
- Sometimes (especially the first time) the card must be in the reader while the browser is (re)started. Inserting the card while the browser is running doesn't work. This is true

[2018-06-16 12:36] AlexDaniel commented on #21
FWIW bionic packages work more or less ok on debian unstable. I can indeed log in to websites in firefox, but qesteidutil segfaults trying to get data from the card.

[2018-06-16 12:45] amaccuish commented on #21
@AlexDaniel I also have the segfault problem. Should I create a new issue and upload the dump?

[2018-06-16 12:52] AlexDaniel commented on #21
@amaccuish yes, please.

[2018-06-18 12:55] kristelmerilain commented on #21
@rinu
„Sometimes (especially the first time) the card must be in the reader while the browser is (re)started. Inserting the card while the browser is running doesn't work. This is true for both chrome and firefox.“
If you install new ID software you need to restart your browser. Unfortunately we could not reproduce it, Chrome readed ID-card even if it was inserted into reader after the program was

[2018-06-18 12:57] amaccuish opened #26 "ID Card Utility crash on Ubuntu 18.04"
Attached dump.

[dump.txt](https://github.com/open-eid/linux-installer/files/2111295/dump.txt)

[2018-06-18 12:57] amaccuish commented on #21
opened #26 in relation to crashing

[2018-06-18 13:12] metsma commented on #26
please can you install debug symbols and attach backtrace also

[2018-06-18 19:51] metsma commented on #26
Also can you create report to correct module
(https://github.com/open-eid/org/wiki)

[2018-06-18 19:52] #21 closed

[2018-06-20 23:12] amaccuish commented on #26
Sure I'll open one up on https://github.com/open-eid/qesteidutil/, but debug symbols for what? OpenSC, a particular library?

[2018-06-21 08:38] metsma commented on #26
Continued int qesteidutil module open-eid/qesteidutil#104

[2018-06-21 08:38] #26 closed

[2018-07-02 14:17] 2tunnels opened #28 "installer.id.ee should be updated"
URL https://installer.id.ee/media/install-scripts/install-open-eid.sh points to legacy `install-open-eid.sh`.
For example Linux Mint 19 support is missing.

[2018-07-16 06:45] kristelmerilain commented on #28
Updated https://installer.id.ee/media/install-scripts/install-open-eid.sh

[2018-07-16 06:45] #28 closed

[2018-08-13 07:42] markus-kullerkup commented on #20
Open-EID software support for "Fedora" is an open community project i.e is not developed nor officially supported by developer(Estonian Information System Authority).

Due to that statistics for Fedora are not available. Usage of all Linux distribution is very low(<1% of total usage)

[2018-08-13 09:49] abitrolly commented on #20
@markus-kullerkup usage for Linux is low, because we didn't even started marketing. :D More serious reason is that Linux users are more skilled in crypto, which kind of makes this software obsolete (if not used as a universal hardware wallet).

@Germano0 @metsma can you clarify if Open-EID software reports Linux as User-agent or other way when communication with servers, and if makes Ubuntu and Fe

[2018-08-13 10:08] metsma commented on #20
It uses lsb_release
https://github.com/open-eid/qt-common/blob/master/Common.cpp#L114-L120

[2018-08-13 12:28] abitrolly commented on #20
@metsma my Fedora doesn't come with `lsb_release` preinstalled, but..
[code]
And Ubuntu.
[code]
So `PRETTY_NAME` should cut it.

Anyway, can we get current stats similar to https://store.steampowered.com/hwsurvey/ ? I am biased, but it is super useful for community even if it is every 1 out of 100.

[2018-08-13 12:40] Germano0 commented on #20
Please apologize me, but I don't have the time to check about this

[2018-08-13 14:33] abitrolly commented on #20
@Germano0 no problem. Thanks again for pushing Fedora support so far. :)

[2018-11-05 22:56] abitrolly commented on #20
I am here again to ask for stats about used operating systems for e-Residency - no stats right now https://app.cyfe.com/dashboards/195223/5587fe4e52036102283711615553

Can, please, you take a look, what is the ratio of Linux distributions among e-Residents and what is the ration of Fedora or unidentified distributions among them? At least on my F28 `lsb_release` is not installed by default, and I

[2018-11-20 08:09] dkorzhevin opened #34 "Ubuntu 18.10 support"
Hello,

Can't use install script and other tools with Ubuntu 18.10. Can you please estimate, when it will be supported?

Thank you

[code]

[2018-11-21 09:06] kristelmerilain commented on #34
Ubuntu 18.10 support will come in our next release. Which should take place in December  2018.

[2018-11-21 09:06] #34 closed

[2018-11-21 10:02] dkorzhevin commented on #34
Thank you for this feedback. IMHO, it worth to mention this upcoming support somewhere on site.

[2018-11-30 09:53] abitrolly commented on #20
@markus-kullerkup so how many Linux workstations this year? :)

[2018-12-04 15:35] dkorzhevin opened #36 "Issues and errors in install script output in Ubuntu 18.10 (Ubuntu 18.04 LTS affected too)"
Hello, I met next errors and warnings in output:

[code]

[2018-12-04 15:35] dkorzhevin commented on #36
[code]

[2018-12-05 16:48] thodt-md commented on #36
Don't know whether this is a separate issue, but install fails on 18.04 as well. To be more exact - something is wrong with awp installation package -

[code]

[2018-12-06 18:29] teadur commented on #36
https://gist.github.com/teadur/12c1eccee063384d3b88eb46acb0cbf9
Here you can see the awp package postinstall script, it does alot of assumptions and fails on some of them.

for example it assumes package is installed via sudo (usage of SUDO_USER variable) - very bad assumption for any script.
But even if the package is installed via sudo apt tries to add the google chrome smartcard plugin to root

[2018-12-06 19:04] thodt-md commented on #36
Is it even common practice to do something like
[code]
in post-install script? I thought its purpose is to add users/groups/modules/whatnot, not install other packages. That's why there's probably also a warning

Very disappointed, this shouldn't have been released at all. Also I don't seem to have the possibility of rolling back to previous version of this software, can anyone confirm this?

[2018-12-09 15:41] martinpaljak opened #37 "Horribly broken awp package"
To make #36 more understandable and/or actionable, here's a small lintian report:
[code]

Also, the file contained in `./usr/share/mozilla/extensions/{ec8030f7-c20a-464f-9b0e-13a3a9e97384}/{2F45F62B-CF18-414D-AC42-47F3D67F468B}.xpi` seems to be the same as https://github.com/open-eid/firefox-pkcs11-loader/blob/master/webextension/background.js which, as the header in the file nicely tells, is lice

[2018-12-09 18:33] laurivosandi commented on #37
What is this abomination postinst script I am seeing there? Otherwise I'd ask about the missing reference to my script, but that thing just doesn't make any sense.

sudo apt install in postinst? I see that person doesn't have any clue about package management?

Also creating nssdb there won't make any sense since this will be running as root user and root user shouldn't run Chrome anwyay.

Great j

[2018-12-09 18:39] laurivosandi commented on #36
What is going on? Idemia shipped this half-assed software to RIA and RIA gladly accepted this without any QA?! Also as I understand the Idemia software contains binary only blobs with no software available?

[2018-12-09 19:48] thodt-md commented on #37
Is there any source for this blob? I can't seem to find any Linux support on IDEMIA homepage. Was this built by RIA?

[2018-12-09 20:36] martinpaljak commented on #37
Most probably there is no source.

[2018-12-09 21:12] martinpaljak commented on #37
Extracted extractable parts of it for inspection here: https://github.com/martinpaljak/awp_5.3.0.18.04.75_amd64.deb

[2018-12-10 07:47] martinpaljak commented on #37
Looking at that content:
[code]

I make the following aww-ssumptions:
- there are 7 binary blob modules implementing
  - 2x 4MB blobs for AuthentIC different version support (not related to Estonian eID)
  - 1 4MB blob for implementing support for Microsoft card (not related)
  - 1 4MB blob for implementing support for ID-one classic (not related)
  - 1 2.6MB blob for implementing support for PIV

[2018-12-10 09:14] tynisr commented on #36
Thank you for all that information.
We are escalating this issue right now.

Best Regards
Tõnis Reimo, eID software Product Owner
RIA

[2018-12-10 09:18] tynisr commented on #37
Thank you for all that information.
We are escalating this issue right now.

Best Regards
Tõnis Reimo, eID software Product Owner
RIA

[2018-12-11 17:20] ekoort commented on #37
Selle awp pakiga on veel nalja. Kui pakki EI installita läbi sudo, siis postinst hakkab vigu pilduma.
root@siilike ~ # apt-get -y remove awp
Reading package lists... Done
Building dependency tree
Reading state information... Done
EEMALDATAKSE järgnevad paketid:
  awp
/*/
Removing awp (5.3.0.16.04.130) ...

root@siilike ~ # apt-get -y install awp
/*/
Paki awp (5.3.0.16.04.130) paikasättimine ...
Ad

[2019-01-03 07:07] martinpaljak commented on #37
Any updates?

[2019-01-08 07:28] martinpaljak opened #41 "Oberthur PKCS#11 module is buggy on Ubuntu 18.04.01 LTS"
C_Finalize always hangs:

[code]
(running this via gdb)

[code]

[2019-01-08 07:36] martinpaljak opened #42 "No source code to port to Debian / licensing issues"
Relates to #16. Latest open-eid package brings in badly licensed (No license information in packages, usage of OpenSSL without attribution, #36 #37 #41  etc) awp package, which does not work supported platforms and also not on Debian 8/9 and has no source code to port or fix either. This is a serious regression.

[2019-01-08 07:41] martinpaljak commented on #41
This seems to be a common problem: https://www.google.com/search?rls=en&q=pthread_join_common.c

[2019-01-08 09:46] AlexDaniel commented on #3
@metsma

Please see #42.

[2019-01-08 10:01] metsma commented on #3
This out of context comment and applies only for IDEMIA driver packages.
As as stated before, feel free to become debian maintainer and publish packages to debian.
Debian is community maintained distribution and you have all tools and code available to contribute packages to debian.
Debian policy also states that submitter cannot be company or organization which RIA is.

[2019-01-08 13:15] MagicFab commented on #3
@metsma @AlexDaniel please discuss in #16 - this issue is not current and it's closed. #16 refers to proper support in Debian Stable.

[2019-01-08 13:38] MagicFab commented on #16
Debian Stable now has support for Firefox-ESR (60.4 as of today), no need for backports or external sources.

According to information at https://www.ria.ee/en/state-information-system/eid/digidoc-software.html :

Installation of DigiDoc software

The following will be installed into your computer during the installation of the DigiDoc software:

The last release as of today has been reported brok

[2019-01-08 13:48] MagicFab commented on #36
Thanks for reporting this, I almost tried testing the scripts again in Debian and you saved me this time!
As an e-Residency holder It's disappointing to see the GNU/Linux support for Digidoc is only getting worse,

@tynisr can you share [this link with](https://wiki.debian.org/DontBreakDebian) your team and can we add a note indicating the installer doesn't work for GNU/Linux in the README ? It sh

[2019-01-08 13:50] MagicFab commented on #36
@dkorzhevin can you please update the issue description to indicate 18.04 LTS support is broken too ?

[2019-01-08 15:37] thodt-md commented on #41
May this be the cause why Chromium crashes randomly after a couple of minutes with the plugin enabled? I don't have any logs to tie the crashing to open-eid, but the crashes disappeared after removing open-eid and everything related (and there weren't any before the inclusion of this middleware). Can anyone confirm this?

[2019-01-08 15:59] martinpaljak commented on #41
Have not tried with Chromium, but apparently having the PKCS#11 module loaded to Firefox (on Debian that is) resulted in random crashes of Firefox. As both are based on NSS on Linux, I assume the symptoms are the same. Keep in mind that open-eid should contain multiple PKCS#11 modules and only the Oberthur one seems to cause the random crashes (as currently observed)

[2019-01-08 17:41] fisher commented on #3
Fuck RIA.

(It's not you, it's the company of yours).

[2019-01-16 14:34] plaes commented on #42
Having source code would also might make it possible to support architectures other than x86 and amd64.

[2019-01-23 10:34] dkorzhevin commented on #36
@MagicFab Hello. I've changed title. Hope this will help to get more attention on this problem.

[2019-01-23 10:35] dkorzhevin commented on #37
Can you please give update or estimate?

[2019-01-26 00:48] snoopcatt commented on #37
Please add it to top of file `awp.postinst` because installation of awp package will stuck at "not configured" state:

`HOME=$(grep "^${SUDO_USER}:" /etc/passwd | cut -d: -f6)`

[2019-01-27 21:14] martinpaljak commented on #37
Maybe the right path for getting this noticed and fixed is with the "upstream" and https://github.com/martinpaljak/awp_5.3.0.18.04.75_amd64.deb/blob/master/DEBIAN/control#L9 or https://twitter.com/IdemiaGroup

[2019-01-27 21:55] thodt-md commented on #42
Any plans to ~reverse engineer this monstrosity~ make a clean-room middleware implementation based on the published specs? :smiling_imp:

[2019-01-27 22:00] martinpaljak commented on #42
Unlike 15 years ago, a _lot_ of taxpayer money has been poured into the software over the years as well as probably into this tender, so ... expect it (working, open source) to happen without external assistance.

Actually, you don't even need any specs to be published to make things work: https://github.com/martinpaljak/esteidhacker/wiki/NFC

[2019-02-15 18:33] sergey-abc commented on #37
On my computer Firefox have not seen Idemia PKCS11 module  until I copied idemiapkcs11firefox.json to  ~/.mozilla/pkcs11-modules/ directory. According to https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Native_manifests
these extensions can be located globally either in /usr/lib/mozilla/pkcs11-modules/ or in /usr/lib64/mozilla/pkcs11-modules/. Per my understanding second one

[2019-02-28 03:12] jeffmcneill commented on #16
Also please note that LMDE3 which is Debian 9 is seen as a LinuxMint version 3, which then fails, using the script.

[2019-03-24 00:34] sakno commented on #36
@tynisr, is there any updates on this?

[2019-04-21 07:06] m0n5t3r opened #46 "Reliable crashes when removing yubikey in firefox, even with extension disabled"
Not sure if this is the right place for it, but I can't find any place to report bugs in awp, and I'm a bit dismayed to find it seems to be a proprietary thing, to be honest; it definitely seems about as well made as the typical proprietary blob (see the other issue about badly broken packaging).

Latest crash: https://crash-stats.mozilla.org/report/index/8c464917-1d1a-49f1-92b5-63aca0190421

Happ

[2019-04-22 12:10] Jalakas opened #47 "Install script does not support latest official Ubuntu release"
Ubuntu has released version 19.04 with codename "disco" [1],
installer.id.ee supports only versions "xenial", "bionic", "cosmic" [2].

Installer does not work for:
1) users with clean Ubuntu 19.04 install
2) users who have upgraded to 19.04 and using install script.

Failure mode:
1) script does not find users Ubuntu version codename from "blacklist"
2) adds new "esteid" repository using that code

[2019-05-09 08:46] thsnr commented on #41
It seems that it only hangs if no card reader is connected:

[code]

With one connected, it works:

[code]

Connecting a card reader while the library is hung also wakes it up.

[2019-06-13 18:08] Jalakas commented on #36
"awp" dependency is removed now: https://github.com/open-eid/linux-installer/pull/49/files
Hope there will be 19.06 release soon: https://installer.id.ee/media/ubuntu/

[2019-06-13 18:12] Jalakas commented on #37
"awp" dependency is removed now: https://github.com/open-eid/linux-installer/pull/49/files

[2019-06-13 18:20] Jalakas commented on #41
"May this be the cause why Chromium crashes randomly after a couple of minutes with the plugin enabled?"
- Yes, PCSC versions before 1.8.25 (and all browsers using it, tested firefox and chrome myself) crashed because "awp" flooded pcscd with too many threads. https://bugs.launchpad.net/ubuntu/+source/pcsc-lite/+bug/294830

"awp" dependency is removed now: https://github.com/open-eid/linux-install

[2019-06-13 18:30] Jalakas commented on #46
"awp" dependency is removed now: https://github.com/open-eid/linux-installer/pull/49/files
Hope there will be 19.06 release soon: https://installer.id.ee/media/ubuntu/

[2019-07-22 22:33] leo82 opened #52 "error with installation script, illegal option '-' in line 6"
hi

when I run the install-open-eid.sh script on Ubuntu 18.04.2 LTS from the Downloads folder, the following error appears:

`$ sh install-open-eid.sh`

`install-open-eid.sh: 6: set: Illegal option -`

Please advise.

[2019-07-23 10:45] andresh commented on #52
This did the trick for me:

<code>sed -i.bak 's/\r$//' install-open-eid.sh</code>

Apparently the file contains DOS newlines which is causing the problem.

[2019-07-26 10:58] #47 closed

[2019-07-30 06:27] #37 closed

[2019-07-30 06:28] #41 closed

[2019-07-30 06:28] #46 closed

[2019-07-30 06:28] #36 closed

[2019-07-30 06:29] metsma commented on #42
OpenSC master now supports new cards

[2019-07-30 06:29] #42 closed

[2019-08-05 18:25] memoricab opened #53 "Workaround for Debian Buster - Linux Installer"
"Debian GNU/Linux 10 (buster)"

-- Workaround: Added bionic repository in case $distro is debian

I have replaced
`Debian)
      make_warn "Debian is not officially supported"
      echo "### Installing possibly missing https support for APT (apt-get install apt-transport-https)"
      # Debian lacks https support for apt, by default
      sudo apt-get install apt-transport-https
      case "$code

[2019-09-06 11:59] metsma commented on #53
Can you create pull request

[2019-09-09 09:25] metsma commented on #53
Fixed by #55

[2019-09-09 09:25] #53 closed

[2019-09-09 09:26] metsma commented on #52
If I use curl/wget I don't get the windows EOL

[2019-10-02 09:55] abitrolly commented on #13
To summarize. On Fedora 30+ the EID software is called **qdigidoc4** and is available from main official Fedora repository from **`qdigidoc`** package

[code]

https://apps.fedoraproject.org/packages/qdigidoc/

[2019-11-11 17:24] jaakristioja opened #59 "open-eid causes user login to hang"
Upon updating to the latest version of open-eid on Ubuntu 18.04.3, when the user logs in the login process hangs for about **5 minutes**!!

Looking at the running processes during login revealed that the culprit is `/usr/bin/esteid-update-nssdb` which is run during login and executes a `find /usr -name onepin-opensc-pkcs11.so` which takes way long to run, blocking the login process without any not

[2019-11-30 23:35] jurta commented on #59
This makes Linux unresponsive, need to revert to old version.

[2020-01-31 14:06] jaakristioja commented on #59
@metsma, @kristelmerilain: Was this already fixed by 0150f8f9199a52a9e677b92d11858c44f23fa75a?

[2020-02-03 11:50] kristelmerilain commented on #59
Yes.

[2020-02-03 11:50] #59 closed

[2020-03-05 11:07] TaaviE opened #64 "Linux installation of token signing requires ld but it's not a dependency"
In the script `/usr/bin/esteid-update-nssdb` at line 29 the installation script fails with the error `ld: command not found`, I solved it by installing `gcc-8` manually, but if it's required like that to enable ID-card functionality in Chrome(/ium) then it should be the package's dependency.

https://github.com/open-eid/chrome-token-signing/issues/138#issuecomment-595095092

[2020-05-05 11:17] jtagcat opened #66 "Recognize Pop!_OS as a compatible distro."

[2020-06-23 21:20] zsoltsandor commented on #16
I revisit this issue, because I am considering joining the e-Estonians.
I am using Kali, which is obviously not the most common Debian derivative, but supporting Testing, or at least Sid would also mean support for Parrot OS and PureOS Byzantium.
Using the `candidate/sid` repo for the Belgian eID provides the same version as what is currently available for Ubuntu 20.04, and installs without an iss

[2020-06-24 03:54] jeffmcneill commented on #16
Note, installing on testing receives a message "Debian bullseye is not officially supported". I get that this is not officially supported, but why not let the damn thing install? Such a waste.

[2020-07-09 12:16] #64 closed

[2020-07-09 12:17] kristelmerilain commented on #64
#60

[2020-07-10 05:26] #66 closed

[2020-07-21 13:22] kristelmerilain commented on #52
Closing due inactivity, reopen if needed.

[2020-07-21 13:22] #52 closed

[2020-08-02 12:20] gunnarrentzsch opened #73 "Outdated download links on id.ee"
I noticed that the Linux download links on https://www.id.ee/en/article/install-id-software/ are outdated. I suggest linking to Github directly. I would assume that users who are able to install using an .sh script are able to download from Github. With outdated links on the official page there is a risk of users not being aware of newly supported distributions/ Ubuntu flavors.

[2020-08-13 08:33] Counter178 commented on #73
Though the idea is good, the only risk here is the new distribution support.
Some development cases need more spare time and are linked to either OpenSC project, Web browser, or even a third party policy changes.
Thus the download links are updated when official release has been confirmed & done to avoid problems.

[2020-08-13 08:50] #73 closed

[2020-10-08 14:06] saunaants opened #76 "Release Tag signer missing public GPG key"
@metsma
Note: The keys with the following IDs couldn't be exported and need to be reuploaded 90C0B5E75C3B195D
https://github.com/metsma.gpg

[2020-10-09 05:26] metsma commented on #76
Fixed

[2020-10-09 05:26] #76 closed

[2020-10-19 07:30] hluup opened #77 "Support for Ubuntu 20.10 (Groovy Gorilla)"
Ubuntu 20.10 was released 22. October 2020. Will this be supported or are only LTS releases officially supported?

[2021-01-09 16:42] notpushkin opened #83 "apt-key is deprecated"
[apt-key(8)]: http://manpages.ubuntu.com/manpages/bionic/en/man8/apt-key.8.html#commands

Here's [a couple reasons](https://gist.github.com/notpushkin/1cbdd3cbab0cf3570f87b7f2c0cb852d#why) why `apt-key add` might be deprecated. I would suggest using something like this:

[code]

I've noticed that a couple lines above you the script mentions that `gpg` can't be used because it “always creates files

[2021-02-02 12:52] metsma commented on #83
Feel free to seend PR

[2021-02-16 17:07] #83 closed

[2021-04-07 11:54] #77 closed

[2021-08-24 09:03] kali-gandaki commented on #16
Hi, I came up this issue as repo for ubuntu hirsute/focal won't install in debian 11. So I spent this morning packaging for my own use. I hosted it in OBS. If you need it add the following location in sources.list.
deb [signed-by=/usr/share/keyrings/my_obs.gpg] https://download.opensuse.org/repositories/home:/sapanaryal:/openeid/Debian_11/ ./
Don't forget to download release.key file from above me

[2021-11-20 15:11] moll opened #89 "Installer shebang should refer to /bin/sh if it's meant to be a POSIX compatible script"
Hey,

I noticed the shebang in https://github.com/open-eid/linux-installer/blob/master/install-open-eid.sh refers to `#!/bin/bash`, yet the official guide video on https://www.id.ee/artikkel/paigalda-id-tarkvara/ (https://www.youtube.com/watch?v=2zQshBBVtcc) instructs calling `sh`, which since 2006(?) has been Dash on Ubuntu (https://wiki.ubuntu.com/DashAsBinSh). The script works fine with Dash an

[2021-11-24 17:11] Kwaskoff opened #90 "Up to date the build of ubuntu is 21.10"
Hi, guys!
When I start ./install-open-eid.sh
I have
[code]
but libldap-2.5-0 is already the newest version (2.5.6+dfsg-1~exp1ubuntu1).
Help me, please

[2021-12-28 23:19] bgpmonkey commented on #90
got same problem here...  any leads on how to fix this or someone can release an package for 21.10 or a static linked package ?

[2022-01-18 11:31] laur89 opened #93 "Publish the PGP key on id.ee domain"
Would it be possible to (additionally) publish the PGP key on a static URL as opposed to having it packaged inside the [installer script](https://github.com/open-eid/linux-installer/blob/master/install-open-eid.sh#L9)? It'd help users with their own automated installation logic as opposed to having to rely on the installation script published by open-eid.

Examples from other projects:
[Signal](ht

[2022-01-18 13:27] Counter178 commented on #93
The previously described PGP key for users is available here: https://installer.id.ee/media/install-scripts/C6C83D68.pub

Closing issue.

[2022-01-18 13:27] #93 closed

[2022-03-15 14:45] kristelmerilain commented on #90
Ubuntu 21.10 is supported in the newest ID-software version.

[2022-03-15 14:45] #90 closed

[2022-04-12 17:09] maltfield commented on #16
+1 Please add Debian 11 support.

If you support Debian, then you'll not only support Ubuntu (a downstream derivitative of Debian), but you'll also support countless other downstream derivatives of Debian.

Why not implement it at the source? Please support Debian 11.

[2022-04-12 18:04] maltfield opened #94 "Please don't block Tor users (installer.id.ee Linux Apt Repo)"
Please **do not** configure your web server or upstream proxies to **block Tor Exit Nodes**. It harms users, blocks them from getting security-critical updates, and there's just no reason to do it.

I've been fighting for the past few hours to figure out why I couldn't install open-eid in Debian 10 running in an AppVM on QubesOS. I was able to access most repos fine, but I got (unclear) errors fro

[2022-04-12 18:11] maltfield commented on #94
Question to the sysadmin: Is there actually a reason that Tor blocking was done? I see no benefit to doing this.

Indeed, it can sometimes make sense to protect a website from Tor traffic if you're hosing sensitive/private information. Or where you need to rate-limit dynamically generated content.

But here we're talking about a simple apt repo. All of its contents in the document root is public.

[2022-04-12 18:22] teadur commented on #16
+1 for Debian 11 support

[2022-04-15 11:07] hanna142x commented on #16
Debian 11 bullseye ships with libxalan-c112, but focal open-eid install wants libxalan-c111 (focal is closest to bullseye).
Fix is to download libxalan-c111 from buster (Debian 10) repo (https://packages.debian.org/buster/amd64/libxalan-c111/download) and install it manually using `sudo dpkg -i <package name>`

Then edit install-open-eid.sh
after buster section add:
[code]

After that install-open

[2022-04-29 09:26] mc-murad-rashidov opened #95 "Add RHEL family support"
It would be nice if there was an option to use your software under rhel/fedora/rocky/centos linux.
AppImage is also a good option, but this is for you to decide.

[2022-05-18 06:13] IndrekHaav opened #97 "Ubuntu 22.04 support"
Currently the latest supported Ubuntu version is 21.10. Ubuntu 22.04 LTS was released a month ago, please add support for it as well.

Trying to use the "impish" repo doesn't work:

[code]

Apparently Ubuntu doesn't provide libssl1.1 for 22.04, only libssl3. It might be possible to make it work by downloading and installing libssl1.1 manually (e.g. [from Debian](https://packages.debian.org/bullsey

[2022-05-18 06:25] kristelmerilain commented on #97
Ubuntu 22.04 support will come in our next release. We still have some minor improvements and testing to do before we can release new ID-software version but we hope to get new version out in June.

[2022-06-06 09:38] #89 closed

[2022-06-08 21:55] ivokub opened #99 "Define verification key in apt repository description"
Instead of installing the key for verifying the repository contents in the global keystore, it should be stored in file system and described in apt repository header. See warning when updating:
[code]

[2022-06-09 09:06] metsma commented on #99
The recent version script already installs to file "/etc/apt/trusted.gpg.d/ria-repository.gpg".
https://github.com/open-eid/linux-installer/blob/master/install-open-eid.sh#L68

[2022-06-09 09:33] metsma commented on #99
Ok I see. Your previous comment referred the other deprecated use case
"trusted.gpg keyring (/etc/apt/trusted.gpg) .. apt-key"
Addressed here c28d44330267663f0fc04e40c2f82a63cd67230e

[2022-06-09 10:15] ivokub commented on #99
Yes, I initially though that `trusted.gpg` file (which was used by apt-key) and `trusted.gpg.d` directory are equivalent, but it seems these are independent deprecations.

[2022-07-11 22:02] virtual-machinist commented on #97
Any updated ETA on this?

[2022-07-17 19:19] that1estonian opened #100 "Is Debian being dropped?"
Older install script also had instructions for all Debian versions, but current one only has instructions for Debian 10 and no 11.

[2022-07-21 12:20] kristelmerilain commented on #97
New ID-software release that supports Ubuntu 22.04 is now available.

Please note that there are two known defects in Ubuntu 22.04:
1. Some Ubuntu 22.04 users can't use ID-card in the DigiDoc4 Client and Web eID due to an error in the pcscd service. Instructions for restarting the pcscd service can be found [here](https://www.id.ee/en/article/diogidoc4-error-message-the-smartcard-pcsc-service-is-n

[2022-07-21 12:20] #97 closed

[2022-08-11 10:22] teadur commented on #16
@metsma would pull request doing that be accepted to installer ?

[2022-08-11 10:28] AlexDaniel commented on #16
@teadur Ubuntu packages can no longer be installed in debian because debian's dpkg does not support zstd.

[2022-08-14 12:18] maltfield commented on #16
Actually, I think we should update this request from "Support Debian" to "Change support from Ubuntu to Debian". Support for open-eid in Ubuntu is already broken. Supporting Debian would require less work and provide support for more users. See also:

 * https://github.com/web-eid/web-eid-webextension/issues/41

### Quoting from above ticket

Oh man, you're right. When I saw that firefox switched

[2022-08-31 17:03] mrts commented on #16
Web eID supports Debian now (by including Firefox extension XPI), see https://github.com/web-eid/web-eid-app/pull/215.

[2022-09-13 04:44] #99 closed

[2022-09-29 04:47] kristelmerilain commented on #16
We added c111 package into our repo so now you should be able to install ID-software on Debian 11 with install script.

If you use Firefox on Debian then you have to install Web eID extension from Firefox Add-on Store: https://addons.mozilla.org/en-US/firefox/addon/web-eid-webextension/ This will be fixed in the next ID-software release.

[2022-10-06 11:13] Counter178 commented on #94
Apologies for the delayed answer. Due to heavy policy regulations, the query needed firm implementation and analysis. All the necessary we're made and should be resolved now.

[2022-10-06 18:31] maltfield commented on #94
@Counter178 I really appreciate movement here, but unfortunately it's still not possible to fetch updates from your Ubuntu repos over tor.

I tried this today, but I fist got the following error when running the `install-open-eid.sh` script:

[code]

After that failed, I tried to just do an `apt-update` directly. This failed with a `403 Forbidden` error response from your servers (note that all ot

[2022-10-10 23:04] jaakristioja commented on #97
For future reference, a workaround might be to use Firefox from the Mozilla PPA instead. Something along the following lines might do the trick. Don't forget to backup the SNAP versions of your important Firefox profiles, which you might have to restore later.

[code]

I also needed to add the following lines to `/etc/apparmor.d/local/usr.bin.firefox` to make authentication and signing work in Fir

[2022-11-18 09:17] Counter178 commented on #94
Forwarded & validated - the apt-get should be better now through TOR @maltfield

[2022-11-18 20:24] maltfield commented on #94
@Counter178 thank you!

I confirmed that I can now successfully install open-eid in a QubesOS TemplateVM

[2022-11-18 20:24] #94 closed